body,
.navbar {
  background-color: #061e30;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.res_btn{
  background: none;
  border: 1px solid #75e6da;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.res_btn:hover{
  background-color: #75e6da;
  color: #061e30;
}

body {
  font-family: "Sofia Sans", sans-serif;
  overflow-x: hidden;
}

.navbar {
  align-items: center;
  display: flex;
  height: 70px;
  justify-content: space-between;
}

.navbar__logo {
  margin-left: 2rem;
}

.navbar__logo img {
  animation-delay: 1.2s;
  height: 1rem;
}

.navbar ul {
  align-items: center;
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin: 0 2rem 0 auto;
}

.navbar ul li a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar ul li a::after,
.navbar__menu ul li a.active::after {
  background-color: #68cdc3;
  bottom: -5px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 0.3s;
  width: 0;
}

.navbar ul li a:hover::after,
.navbar__menu ul li a.active::after {
  width: 100%;
}

.navbar ul li a:hover,
.navbar__menu ul li a.active {
  color: #68cdc3;
}

.Home {
  align-items: center;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  padding: 0 4rem;
  position: relative;
  width: 100%;
}

.Home-content {
  align-items: center;
  display: flex;
  gap: 1rem;
  max-width: 1600px;
  width: 100%;
}

.Home__text-area {
  align-items: flex-start;
  color: #75e6da;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: min-content;
  justify-content: space-between;
  margin-top: 200px;
  padding-left: 1rem;
  text-align: left;
}

.Home__text-area h1,
.Home__text-area h2,
.Home__text-area h5,
.Home__text-area p {
  margin: 0;
  padding: 0;
}

.Home__text-area h1 {
  --animate-duration: 1.2s;
  animation-delay: 0.4s;
  background: linear-gradient(
    90deg,
    rgba(180, 41, 249, 1) 0%,
    rgba(38, 197, 243, 1) 100%
  );
  background-clip: text;
  font-size: clamp(2.5rem, 6vw, 4rem);
  margin: 15px 0 10px 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Home__text-area h2,
.Home__text-area h5 {
  font-family: "Sofia Sans", "sans-serif";
}

.Home__text-area h2 {
  color: #ccd6f6;
  font-size: clamp(2.3rem, 4vw, 3rem);
}

.Home__text-area h5 {
  animation-delay: 0.8s;
  font-size: 1.6rem;
  font-weight: 500;
}

.Home__text-area p {
  --animate-duration: 1.2s;
  animation-delay: 1s;
  color: #ccd6f6;
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 2rem 0;
  max-width: 700px;
  width: 100%;
}

.About__content-area__img-area__img-tab {
  position: relative;
  max-width: 160px;
  margin-top: 10rem;
  padding-right: 12rem;
}
.About__content-area__img-area__img-tab img {
  width: 200%;
  height: 200%;
  object-fit: cover;
  border-radius: 10px;
}

.About__content-area__img-area__img-tab::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 6;
  background-color: #75e6da;
  mix-blend-mode: multiply;
  opacity: 1;
  max-width: 320px;
  max-height: 320px;
  border-radius: 10px;
}

.About__content-area__img-area__img-tab:hover::before {
  display: none;
}

.About__content-area__img-area img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: grayscale();
  border-radius: 10px;
}

.About__content-area__img-area:hover img {
  filter: none;
}

.container {
  display: flex;
  padding: 5rem;
  justify-content: center;
  width: calc(100% - 40rem);
  margin: 0 auto;
  height: 700px;
  border-radius: 80px;
  overflow: hidden;
}

.gradient-section {
  background: linear-gradient(
    133deg,
    rgba(126, 39, 156, 1) 0%,
    rgba(47, 39, 157, 1) 100%
  );
  width: 50%;
  color: white;
  padding: 2rem;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.gradient-section h2 {
  text-align: left;
  padding-left: 30px;
  font-size: 3rem;
  font-weight: 400;
}

#message {
  height: 150px;
  width: 150%;
}

.form-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 2rem;
}

.form-field {
  margin-bottom: 2rem;
  background: none;
  border-bottom: 1px solid grey;
  border-left: none;
  border-right: none;
  border-top: none;
  padding-bottom: 10px;
  color: #fff;
  width: 150%;
}

.form-field::placeholder {
  color: #ccd6f6;
  font-family: "Sofia Sans", sans-serif;
  font-size: 1.2em;
}

.info h2 {
  position: relative;
  text-align: left;
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
}

.info h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 14%;
  background-color: #75e6da;
}

.info p {
  font-size: 1.2rem;
  font-weight: 200;
  color: #fff;
  margin-bottom: 4rem;
}
.info-section {
  width: 50%;
  padding: 2rem;
  background-color: #17202a;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.form-field:focus {
  outline: none;
  border-bottom: 1px solid white;
  color: #fff;
  background: transparent;
}

.form-section button {
  font-family: "Sofia Sans", sans-serif;
  background: #aa1a77;
  color: #fff;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.form-section button:hover {
  background-color: rgb(148, 21, 42);
  transform: scale(1.05);
  transition: 0.5s;
}

.info ul {
  list-style-type: none;
}

.info ul li {
  margin-bottom: 2rem;
  color: #75e6da;
}

.info a,
span {
  text-decoration: none;
  color: #fff;
}

.info ul li a,
span {
  margin-left: 4px;
}

.info a:hover {
  color: #75e6da;
}

.text-field {
  position: relative;
}

.material-symbols-outlined {
  position: absolute;
  padding-right: 60px;
  padding-top: 15px;
  transform: translate(-50%, -50%);
  color: #75e6da !important;
}

.cursor-dot {
  width: 6px;
  height: 6px;
  background-color: #7abcd6;
}
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 1.5px solid #7abcd6;
}
.cursor-dot,
.cursor-outline {
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 1;
  pointer-events: none;
}

.skill_text {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.skill_text h1 {
  background: linear-gradient(
    90deg,
    rgba(180, 41, 249, 1) 0%,
    rgba(38, 197, 243, 1) 100%
  );
  background-clip: text;
  font-size: clamp(2.5rem, 6vw, 4rem);
  margin-top: 6%;
  margin-bottom: 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.skill_text p {
  color: #c6d1f0;
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 1rem 0;
  max-width: 800px;
  width: 100%;
}

.skill_text p span a {
  color: #75e6da;
  margin-left: 0px;
  text-decoration: none;
}

.skill_text p span a:hover {
  text-decoration: underline;
}

.Skills__Icons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.Skills__Icons ul {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  height: 100%;
  gap: 4rem;
}

.Skills__Icons ul li {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  gap: 1rem;
}
.Skills__Icons ul li span {
  padding-right: 10px;
}

.Skills__Icons ul li img {
  height: 6rem;
  width: 6rem;
}

.Skills__Icons ul li:nth-child(5) {
  height: 4rem;
  width: 6rem;
  margin-top: 60px;
}

.Skills__Icons ul li:nth-child(2) :hover {
  animation: 1.5s rotateinfinite linear infinite;
}

.grid {
  margin: 0% 10% 0% 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.item-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
}
.item-grid:nth-child(2) {
  margin-top: 20px;
}
.item-grid:nth-child(6) {
  margin-top: 20px;
}

.item-grid img {
  width: 100%;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.item-grid p {
  text-align: center;
  font-size: 0.8rem;
}
.description span {
  color: #75e6da;
  margin: 0;
}
.description h1 {
  color: #ccd6f6;
  margin: 0;
}
.description p {
  color: #ccd6f6;
  text-align: start;
  font-size: medium;
}
.description .link,
.description .link a {
  text-align: end;
  text-decoration: none;
  color: #ccd6f6;
}
.heading {
  margin: 2% 0% 0% 0%;
  font-size: 3.75rem;
  font-weight: 700;
  padding-left: 10%;
  background: linear-gradient(
    90deg,
    rgba(180, 41, 249, 1) 0%,
    rgba(38, 197, 243, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.link a {
  position: relative;
  text-decoration: none;
}

.link a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #75e6da;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.link a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #75e6da;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #68cdc3;
}

footer p {
  background-color: #061e30;
  margin: -20px 0 0 0;
  top: 20%;
  color: #75e6da;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}
footer p span{
  color: #aa1a77;
}

@keyframes rotateinfinite {
  from {
    rotate: 0;
  }
  to {
    rotate: 360deg;
  }
}

@media (min-width: 1400px) {
  .Home__text-area {
    gap: 0;
    margin-left: 5rem;
  }
  .Home__side-img {
    display: block;
  }
}

@media (max-width: 700px) {
  .Home {
    padding: 0 0.5rem;
  }
}
